<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Sample Site</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    window.onload = function () {
      var now = new Date();
      var day = ("0" + now.getDate()).slice(-2);
      var month = ("0" + (now.getMonth() + 1)).slice(-2);
      var today = now.getFullYear() + "-" + month + "-" + day;
      console.log(today);
      document.getElementById("lunch_order").value=today;
      document.getElementById("activeSupplier").innerText="Mucha";
      var my_date=document.getElementById("lunch_order").value
      console.log( "mydate "+ my_date);
      sendSupplier("Mucha");

      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        //console.log(e.target.innerHTML); // newly activated tab
        document.getElementById("activeSupplier").innerText=e.target.innerHTML;
        var my_date1= document.getElementById("lunch_order").value
        sendSupplier(e.target.innerHTML);
      });

    } //end of window load

    function sendSupplier(supplier){
      // Make a request for a user with a given ID
      axios.get('/home/new_order?supplier='+supplier)
        .then(function (response) {
        // handle success
        console.log(response);
        })
        .catch(function (error) {
          // handle error
          console.log(error);
        })
        .finally(function () {
          // always executed
        });
    };

    function myFunction_order (value){
      // Make a request for a user with a given ID
          axios.post('/home/new_order', {     
              sesa_no1: document.getElementById("sesa_no1").innerText,
              supplier: document.getElementById("activeSupplier").innerText,
              order_date: document.getElementById("lunch_order").value,
              order_no: value           
          })
          .then(function (response) {
            // handle success
            location.reload();
            })
            .catch(function (error) {
              // handle error
              console.log(error);
            })
            .finally(function () {
              // always executed
            });
    };

    function myFunction_delete (value){
       var delete_id = value;
      // Make a request for a user with a given ID
        axios.delete('/home/new_order', {
           data:{ 
          delete_id: delete_id  }                      
        })
        .then(function (response) {
          // handle success
          location.reload();
          })
          .catch(function (error) {
            // handle error
            console.log(error);
          })
          .finally(function () {
            // always executed
          });
    };
  </script>
</head>
<body>
  <div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/home/orders">Historia zamówień</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/home/logout">Wylogowanie</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.container-fluid -->
    </nav>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h2>Witaj <%=fname%>,</h2>
      <p>
        Online możesz zamówić tylko do godziny 10.00, pozostało ci jeszce
        XXX czasu do zamówienia
      </p>
      <p>
        Wybierz datę na kiedy zamawiasz lunch
      </p>
      <input type="date" name="lunch_order" id="lunch_order" value="2020-01-08" />
      <br /><br />
      <p hidden id="sesa_no1"><%=sesa_no1%></p>
      <p>
        Lista twoich aktualnych zamówień:
      </p>
      
      <div>
        <table id="orders_list"></table>
      </div>
      <br>

      <p><%my_orders=JSON.parse(my_orders)%></p> 
 
      <div id= "order_list" class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">SESA</th>
              <th scope="col">Data</th>
              <th scope="col">Dostawca</th>
              <th scope="col">Numer dania</th>
              <th scope="col">Danie</th>
              <th scope="col">Cena</th>
              <th scope="col">Usuń</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < my_orders.length; i++) { %>         
              <tr>
                <td><%= my_orders[i].id %></td>
                <td><%= my_orders[i].Id_sesa_no %></td>
                <td><%= my_orders[i].order_date %></td>
                <td><%= my_orders[i].order_supplier_name %></td>
                <td><%= my_orders[i].order_no %></td>
                <td><%= my_orders[i].order_name %></td>
                <td><%= my_orders[i].order_price %></td>
                <td><button type="button" onclick="myFunction_delete(value)" value=<%= my_orders[i].id %>>Usuń</button></td>
              </tr>
            <% } %>    
          </tbody>
        </table>
      </div>
      <br>
      <p>
        Masz do wyborów dwóch dostawców Mucha i Opoka, kliknij odpowiednią
        zakładkę
      </p>
      <p hidden id="activeSupplier"></p>
      <p hidden id="sesa_no1"><%=sesa_no1%></p>
      <!-- dynamic tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#mucha">Mucha</a></li>
        <li><a data-toggle="tab" href="#opoka">Opoka</a></li>
      </ul>
      <div class="tab-content">
        <div id="mucha" class="tab-pane fade in active">
          <h2 hidden id="titleMucha">Mucha</h2>
          <br>
          <p>wybierz danie: </p>
          <!-- <p><%menu_json=JSON.parse(menu_json)%></p>  -->
          <p><%#menu_json1=JSON.parse(menu_json)%></p> 
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Dostawca</th>
                  <th scope="col">Numer dania</th>
                  <th scope="col">Danie</th>
                  <th scope="col">Cena</th>
                  <th scope="col">Zamów</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i < menu_json.length; i++) { %>
                <tr>
                  <td><%= menu_json[i].id %></td>
                  <td><%= menu_json[i].supplier_name %></td>
                  <td><%= menu_json[i].menu_no %></td>
                  <td><%= menu_json[i].menu_desctription %></td>
                  <td><%= menu_json[i].menu_price %></td>
                  <td><button type="button" onclick="myFunction_order(value)" value=<%= menu_json[i].menu_no %>>Zamów nr.
                      <%= menu_json[i].menu_no %></button></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <!-- <div id="myContacts"></div> -->
        </div>
        <div id="opoka" class="tab-pane fade">
          <h2 hidden id="titleOpoka">Opoka</h2>
          <br>
          <p>wybierz danie:</p>
          <%menu_json2=JSON.parse(menu_json2)%>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Dostawca</th>
                  <th scope="col">Numer dania</th>
                  <th scope="col">Danie</th>
                  <th scope="col">Cena</th>
                  <th scope="col">Zamów</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i < menu_json2.length; i++) { %>
                <tr>
                  <td><%= menu_json2[i].id %></td>
                  <td><%= menu_json2[i].supplier_name %></td>
                  <td><%= menu_json2[i].menu_no %></td>
                  <td><%= menu_json2[i].menu_desctription %></td>
                  <td><%= menu_json2[i].menu_price %></td>
                  <td><button type="button" onclick="myFunction_order(value)" value=<%= menu_json2[i].menu_no %>>Zamów nr.
                      <%= menu_json2[i].menu_no %></button></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>